{% load staticfiles %}
<html>
	<head>
		<title> {% block title %}Dynamic Marathalli May 3rd Campaign - 2015! {% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="/static/dashboard/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/dashboard/js/jquery.min.js"></script>
		<script src="/static/dashboard/js/jquery.dropotron.min.js"></script>
		<script src="/static/dashboard/js/jquery.scrollgress.min.js"></script>
		<script src="/static/dashboard/js/skel.min.js"></script>
		<script src="/static/dashboard/js/skel-layers.min.js"></script>
		<script src="/static/dashboard/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/static/dashboard/css/skel.css" />
			<link rel="stylesheet" href="/static/dashboard/css/style.css" />
			<link rel="stylesheet" href="/static/dashboard/css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/dashboard/css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1>Dynamic Marathalli May 3rd Campaign - 2015!</h1>
				<nav id="nav">
					<ul>
						<li><a href="/may3/">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down" >Committees</a>
								<ul>
									<li><a href="/may3/cultural/">Cultural</a></li>
									<li><a href="/may3/concept/">Concept</a></li>
									<li><a href="/may3/fd/">Future Division</a></li>
								</ul>
							</a>
						<li><a href="/may3/daimoku/>Contribute Daimoku</a></li>
						<li><a href="/may3/about/">About</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
			
			<h2> Dynamic Marathalli Chapter - May 3rd 2015!</h2>
				<ul class="actions">
					<li><a href="#" class="button">Where are we!</a></li>
				</ul>
			</section>

		<!-- Main -->
			<section id="main" class="container">
			{% block content %}
			Override this!
			{% endblock %}
			</section>
			<footer id="footer">
				<ul class="copyright">
					<li>Design: Your friendly neighborhood YMD <i class="fa fa-smile-o"></i> </li>
				</ul>
			</footer>

	</body>
</html>
