<section class="screenshots-intro">
<div class="container">
<div class="row">
	<div class="col-md-12" >
		<h1>So let's together chant for</h1>
		<p>
		<ol>
			<li> Good health & long life of Sensei & Mrs Ikeda </li>
			<li> I will take complete responsibility of May 3rd campaign's success
			</li>
			<li>
			Bring forth 100 capable Boddhisattvas of the earth for the meeting and contribute towards accomplishing 100 thousand membership.
			</li>
			<li>
			Complete & absolute success of the meeting, good weather, great health of all members.
			</li>
			<li>
			Each member should overcome all obstacles & attend the meeting with seeking mind towards Sensei, strengthen faith in the Gohonzon  and deepen the  understanding of mentor disciple spirit.
			</li>
			<li>
			 Report complete & absolute victory.
			</li>
			</ol>

		</p>
	</div> <!-- col -->
</div> <!-- container -->
</div> <!-- row -->
</section>


